.m1 { content:url("i/m/health.png"); }
.m2 { content:url("i/m/offense.png"); }
.m3 { content:url("i/m/defense.png"); }
.m4 { content:url("i/m/speed.png"); }
.m5 { content:url("i/m/critchance.png"); }
.m6 { content:url("i/m/critdamage.png"); }
.m7 { content:url("i/m/potency.png"); }
.m8 { content:url("i/m/tenacity.png"); }
