.TRIPLEZERO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_triplezero.png"); }
.50RT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_50rt.png"); }
.ARCTROOPER501ST-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperclone_arc.png"); }
.AAYLASECURA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_aaylasecura.png"); }
.ADMIRALACKBAR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ackbaradmiral.png"); }
.ADMIRALPIETT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_piett.png"); }
.ADMIRALRADDUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_admiralraddus.png"); }
.TRENCH-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_admiraltrench.png"); }
.FULCRUMAHSOKA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ahsokaadult.png"); }
.AHSOKATANO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ahsoka.png"); }
.JEDISTARFIGHTERAHSOKATANO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedi_fighter_ahsoka.png"); }
.AMILYNHOLDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_holdo.png"); }
.JEDISTARFIGHTERANAKIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedi_fighter_anakin.png"); }
.ASAJVENTRESS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ventress.png"); }
.AURRA_SING-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_aurrasing.png"); }
.SITHBOMBER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_b28extinctionclassbomber.png"); }
.B1BATTLEDROIDV2-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_b1.png"); }
.B2SUPERBATTLEDROID-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_b2.png"); }
.BB8-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bb8.png"); }
.BT1-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bt1.png"); }
.YWINGCLONEWARS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ywing_btlb.png"); }
.BARRISSOFFEE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_barriss_light.png"); }
.BASTILASHAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bastilashan.png"); }
.BASTILASHANDARK-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bastilashan_dark.png"); }
.BAZEMALBUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bazemalbus.png"); }
.BENSOLO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bensolo.png"); }
.BIGGSDARKLIGHTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rebelpilot_biggs.png"); }
.XWINGRED3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_xwing_red3.png"); }
.BISTAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bistan.png"); }
.UWINGSCARIF-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_uwing.png"); }
.MANDALORBOKATAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mandalorbokatan.png"); }
.BOKATAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bokatan.png"); }
.BOBAFETT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bobafett.png"); }
.BOBAFETTSCION-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bobafettold.png"); }
.BODHIROOK-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bodhi.png"); }
.BOSSNASS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bossnass.png"); }
.BOSSK-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bossk.png"); }
.BOUSHH-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_boushh.png"); }
.C3POLEGENDARY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_c3p0.png"); }
.CC2224-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperclone_cody.png"); }
.CT210408-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperclone_echo.png"); }
.CT5555-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperclone_fives.png"); }
.CT7567-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperclone_rex.png"); }
.CADBANE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_cadbane.png"); }
.CALKESTIS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_calkestis.png"); }
.CANDEROUSORDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_canderous.png"); }
.CAPTAINDROGAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_captaindrogan.png"); }
.HOTHHAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_hoth_han.png"); }
.PHASMA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_phasma.png"); }
.CAPTAINREX-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_captainrex.png"); }
.CAPTAINTARPALS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_captaintarpals.png"); }
.CARADUNE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_caradune.png"); }
.CARTHONASI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_carth.png"); }
.CASSIANANDOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_cassian.png"); }
.UWINGROGUEONE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_uwing_hero.png"); }
.CEREJUNDA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_cerejunda.png"); }
.CHEWBACCALEGENDARY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chewbacca_ot.png"); }
.CHIEFCHIRPA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_chirpa.png"); }
.CHIEFNEBIT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jawa_nebit.png"); }
.CAPITALCHIMAERA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chimaera.png"); }
.CHIRRUTIMWE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chirrut.png"); }
.CHOPPERS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chopper.png"); }
.CLONESERGEANTPHASEI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperclonegreen.png"); }
.ARC170CLONESERGEANT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_arc170.png"); }
.CLONEWARSCHEWBACCA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chewbacca.png"); }
.COLONELSTARCK-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_colonel_stark.png"); }
.COMEUPPANCE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_comeuppance.png"); }
.COMMANDERAHSOKA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_commanderahsokatano.png"); }
.COMMANDERLUKESKYWALKER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_lukebespin.png"); }
.CORUSCANTUNDERWORLDPOLICE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_coruscantpolice.png"); }
.COUNTDOOKU-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_dooku.png"); }
.DARKTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_darktrooper.png"); }
.MOFFGIDEONS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_moffgideons3.png"); }
.DARTHBANE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_darthbane.png"); }
.DARTHMALAK-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_darthmalak.png"); }
.DARTHMALGUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_darthmalgus.png"); }
.MAUL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_maul.png"); }
.DARTHNIHILUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nihilus.png"); }
.DARTHREVAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithrevan.png"); }
.DARTHSIDIOUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sidious.png"); }
.DARTHSION-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sion.png"); }
.DARTHTALON-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_darthtalon.png"); }
.DARTHTRAYA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_traya.png"); }
.VADER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_vader.png"); }
.DASHRENDAR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_dashrendar.png"); }
.DATHCHA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jawa_dathcha.png"); }
.DEATHTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperdeath.png"); }
.DENGAR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_dengar.png"); }
.DIRECTORKRENNIC-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_krennic.png"); }
.DOCTORAPHRA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_doctoraphra.png"); }
.DROIDEKA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_droideka.png"); }
.EBONHAWK-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ebonhawk.png"); }
.BADBATCHECHO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bb_echo.png"); }
.EETHKOTH-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_eethkoth.png"); }
.EIGHTHBROTHER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_eighthbrother.png"); }
.EMBO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_embo.png"); }
.EMPERORPALPATINE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_palpatineemperor.png"); }
.EMPERORSSHUTTLE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_imperialshuttle.png"); }
.CAPITALJEDICRUISER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_venator.png"); }
.ENFYSNEST-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_enfys.png"); }
.EWOKELDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_chief.png"); }
.EWOKSCOUT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_scout.png"); }
.CAPITALEXECUTOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_executor.png"); }
.CAPITALSTARDESTROYER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_stardestroyer.png"); }
.EZRABRIDGERS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ezra_s3.png"); }
.FENNECSHAND-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_fennec.png"); }
.FIFTHBROTHER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_fifthbrother.png"); }
.CAPITALFINALIZER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_finalizer.png"); }
.FINN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_finnjakku.png"); }
.FIRSTORDEREXECUTIONER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstorder_executioner.png"); }
.FIRSTORDEROFFICERMALE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstorderofficer.png"); }
.TIEFIGHTERFOSF-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_fosf_tie_fighter.png"); }
.FIRSTORDERSPECIALFORCESPILOT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstorder_pilot.png"); }
.FIRSTORDERTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstordertrooper.png"); }
.TIEFIGHTERFIRSTORDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstorder_tiefighter.png"); }
.FIRSTORDERTIEPILOT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstordertiepilot.png"); }
.FURYCLASSINTERCEPTOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_furyclassinterceptor.png"); }
.GAMORREANGUARD-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_gamorreanguard.png"); }
.GARSAXON-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_gar_saxon.png"); }
.ZEBS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_zeb_s3.png"); }
.GAUNTLETSTARFIGHTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_gauntlet.png"); }
.GRIEVOUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_grievous.png"); }
.GENERALHUX-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_generalhux.png"); }
.GENERALKENOBI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_obiwangeneral.png"); }
.GENERALSKYWALKER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_generalanakin.png"); }
.VEERS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_veers.png"); }
.GEONOSIANBROODALPHA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosian_broodalpha.png"); }
.GEONOSIANSOLDIER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosian_soldier.png"); }
.GEONOSIANSTARFIGHTER2-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosis_fighter_soldier.png"); }
.GEONOSIANSPY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosian_spy.png"); }
.GEONOSIANSTARFIGHTER3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosis_fighter_spy.png"); }
.GHOST-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ghost.png"); }
.GRANDADMIRALTHRAWN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_thrawn.png"); }
.GRANDINQUISITOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_grandinquisitor.png"); }
.GRANDMASTERYODA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_yodagrandmaster.png"); }
.GRANDMOFFTARKIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tarkinadmiral.png"); }
.GREEDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_greedo.png"); }
.GREEFKARGA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_greefkarga.png"); }
.BOOMADIER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_gunganboomadier.png"); }
.GUNGANPHALANX-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_gunganphalanx.png"); }
.HK47-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_hk47.png"); }
.HANSOLO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_han.png"); }
.MILLENNIUMFALCON-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mfalcon.png"); }
.HERASYNDULLAS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_hera_s3.png"); }
.HERMITYODA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_yodahermit.png"); }
.CAPITALMONCALAMARICRUISER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_moncalamarilibertycruiser.png"); }
.HONDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_hondoohnaka.png"); }
.HOTHREBELSCOUT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rebelhothscout.png"); }
.HOTHREBELSOLDIER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rebelhoth.png"); }
.HOUNDSTOOTH-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_houndstooth.png"); }
.BADBATCHHUNTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bb_hunter.png"); }
.HYENABOMBER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_hyenabomber.png"); }
.MAGNAGUARD-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_magnaguard.png"); }
.IG11-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ig11_nurse.png"); }
.IG12-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ig12.png"); }
.IG2000-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ig2000.png"); }
.IG86SENTINELDROID-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ig86.png"); }
.IG88-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ig88.png"); }
.IDENVERSIOEMPIRE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_idenversioempire.png"); }
.IMAGUNDI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_imagundi.png"); }
.IMPERIALPROBEDROID-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_probedroid.png"); }
.IMPERIALSUPERCOMMANDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_imperial_super_commando.png"); }
.TIEBOMBERIMPERIAL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tiebomber.png"); }
.TIEFIGHTERIMPERIAL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tiefighter.png"); }
.JABBATHEHUTT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jabbathehutt.png"); }
.JANGOFETT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jangofett.png"); }
.JARJARBINKS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jarjarbinks.png"); }
.JAWA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jawa_jawa.png"); }
.JAWAENGINEER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jawa_engineer.png"); }
.JAWASCAVENGER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jawa_scavenger.png"); }
.JEDIKNIGHTCONSULAR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedi_consular_03.png"); }
.JEDISTARFIGHTERCONSULAR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedi_fighter.png"); }
.ANAKINKNIGHT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_anakinknight.png"); }
.JEDIKNIGHTCAL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jediknightcal.png"); }
.JEDIKNIGHTGUARDIAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedi_guardian_01.png"); }
.JEDIKNIGHTLUKE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_luke_jediknight.png"); }
.JEDIKNIGHTREVAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedirevan.png"); }
.JEDIMASTERKENOBI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_globiwan.png"); }
.GRANDMASTERLUKE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_luke_jml.png"); }
.JOLEEBINDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_joleebindo.png"); }
.JUHANI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_juhani.png"); }
.JYNERSO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jyn.png"); }
.K2SO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_k2so.png"); }
.KANANJARRUSS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kanan_s3.png"); }
.KELLERANBEQ-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kelleranbeq.png"); }
.KIADIMUNDI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kiadimundi.png"); }
.KITFISTO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kitfisto.png"); }
.KRRSANTAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_krrsantan.png"); }
.KUIIL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kuiil.png"); }
.KYLEKATARN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kylekatarn.png"); }
.KYLOREN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kyloren.png"); }
.KYLORENUNMASKED-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kylo_unmasked.png"); }
.COMMANDSHUTTLE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_upsilon_shuttle_kylo.png"); }
.L3_37-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_l337.png"); }
.ADMINISTRATORLANDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_landobespin.png"); }
.MILLENNIUMFALCONPRISTINE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mil_fal_pristine.png"); }
.GLLEIA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_leiaendor.png"); }
.CAPITALLEVIATHAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_leviathan.png"); }
.LOBOT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_lobot.png"); }
.LOGRAY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_logray.png"); }
.LORDVADER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_lordvader.png"); }
.LUKESKYWALKER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_luke_ep4.png"); }
.LUMINARAUNDULI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_luminara.png"); }
.LUTHENRAEL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_luthenrael.png"); }
.MG100STARFORTRESSSF17-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mg100.png"); }
.MACEWINDU-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_macewindu.png"); }
.MAGMATROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperstorm_magma.png"); }
.CAPITALMALEVOLENCE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_malevolence.png"); }
.MARAJADE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_marajade.png"); }
.MARAUDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_marauder.png"); }
.SITHSUPREMACYCLASS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithsupremacyclass.png"); }
.MASTERQUIGON-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_masterquigon.png"); }
.MAULS7-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_maul_cyborg.png"); }
.MERRIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_merrin.png"); }
.MISSIONVAO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mission.png"); }
.HUMANTHUG-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mob_enforcer.png"); }
.MOFFGIDEONS1-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_moffgideon.png"); }
.MONMOTHMA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_monmothma.png"); }
.MOTHERTALZIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nightsisters_talzin.png"); }
.CAPITALNEGOTIATOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_negotiator.png"); }
.NIGHTTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nighttrooper_a.png"); }
.NIGHTSISTERACOLYTE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nightsister_acolyte.png"); }
.NIGHTSISTERINITIATE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nightsister_initiate.png"); }
.NIGHTSISTERSPIRIT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nightsisters_wraith.png"); }
.NIGHTSISTERZOMBIE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nightsisters_zombie.png"); }
.NINTHSISTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ninthsister.png"); }
.NUTEGUNRAY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nutegunray.png"); }
.OLDBENKENOBI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_obiwanep4.png"); }
.DAKA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_daka.png"); }
.BADBATCHOMEGA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_badbatchomega.png"); }
.OUTRIDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_outrider.png"); }
.PADAWANOBIWAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_padawanobiwan.png"); }
.PADMEAMIDALA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_padme_geonosis.png"); }
.PAO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_pao.png"); }
.PAPLOO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_paploo.png"); }
.PAZVIZSLA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_pazvizsla.png"); }
.PHANTOM2-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_phantom2.png"); }
.PLOKOON-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_plokoon.png"); }
.BLADEOFDORIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_jedi_fighter_bladeofdorin.png"); }
.POE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_poe.png"); }
.XWINGBLACKONE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_xwing_blackone.png"); }
.POGGLETHELESSER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosian_poggle.png"); }
.PRINCESSKNEESAA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_princesskneesaa.png"); }
.PRINCESSLEIA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_leia_princess.png"); }
.CAPITALPROFUNDITY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_profundity.png"); }
.QIRA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_qira.png"); }
.QUEENAMIDALA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_queenamidala.png"); }
.QUIGONJINN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_quigon.png"); }
.R2D2_LEGENDARY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_astromech_r2d2.png"); }
.CAPITALRADDUS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_raddus.png"); }
.RANGETROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperranger.png"); }
.RAVENSCLAW-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ravensclaw.png"); }
.RAZORCREST-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_razorcrest.png"); }
.HOTHLEIA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_leiahoth.png"); }
.YWINGREBEL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ywing.png"); }
.EPIXFINN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_finn.png"); }
.EPIXPOE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_poe_tros.png"); }
.RESISTANCEPILOT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_resistancepilot.png"); }
.RESISTANCETROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_resistancetrooper.png"); }
.XWINGRESISTANCE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_xwing_resistance.png"); }
.ARC170REX-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_arc170_02.png"); }
.GLREY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rey_tros.png"); }
.REYJEDITRAINING-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rey_tlj.png"); }
.REY-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_reyjakku.png"); }
.MILLENNIUMFALCONEP7-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mfalcon_ep7.png"); }
.ROSETICO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rose.png"); }
.ROYALGUARD-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_royalguard.png"); }
.STAP-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_stap.png"); }
.SABINEWRENS3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sabine_s3.png"); }
.SANASTARROS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sanastarros.png"); }
.SAVAGEOPRESS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_savageopress.png"); }
.SAWGERRERA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sawgerrera.png"); }
.SCARIFREBEL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rebel_scarif.png"); }
.SITHINFILTRATOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithinfiltrator.png"); }
.SCOUTTROOPER_V3-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperscout.png"); }
.SCYTHE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_scythe.png"); }
.SECONDSISTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_secondsister.png"); }
.SEVENTHSISTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_seventhsister.png"); }
.SHAAKTI-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_shaakti.png"); }
.SHORETROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_troopershore.png"); }
.SITHASSASSIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithassassin.png"); }
.SITHTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithtrooper.png"); }
.SITHPALPATINE-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_espalpatine_pre.png"); }
.SITHFIGHTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithfighter.png"); }
.SITHMARAUDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_sithmarauder.png"); }
.FOSITHTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstorder_sithtrooper.png"); }
.UNDERCOVERLANDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_undercoverlando.png"); }
.SLAVE1-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_slave1.png"); }
.SNOWTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_troopersnow.png"); }
.STARKILLER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_starkiller.png"); }
.STORMTROOPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperstorm.png"); }
.STORMTROOPERHAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_trooperstorm_han.png"); }
.SUNFAC-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosian_sunfac.png"); }
.GEONOSIANSTARFIGHTER1-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_geonosis_fighter_sunfac.png"); }
.SUPREMELEADERKYLOREN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_kyloren_tros.png"); }
.T3_M4-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_t3m4.png"); }
.TIEADVANCED-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tieadvanced.png"); }
.TIEDAGGER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tiedagger.png"); }
.TIEDEFENDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tiedefender.png"); }
.FIRSTORDERTIEECHELON-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_firstordertieechelon.png"); }
.TIEFIGHTERPILOT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tiepilot.png"); }
.TIEREAPER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tiereaper.png"); }
.TIESILENCER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tie_silencer.png"); }
.TIEINTERCEPTOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tie_interceptor_prototype.png"); }
.TALIA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_nightsister_talia.png"); }
.TARFFUL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tarfful.png"); }
.TARONMALICOS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_taronmalicos.png"); }
.BADBATCHTECH-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bb_tech.png"); }
.TEEBO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_teebo.png"); }
.ARMORER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_armorer.png"); }
.THEMANDALORIAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mandalorian.png"); }
.THEMANDALORIANBESKARARMOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_mandobeskar.png"); }
.THIRDSISTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_thirdsister.png"); }
.C3POCHEWBACCA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chewbacca_c3po.png"); }
.TUSKENCHIEFTAIN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tuskenchieftain.png"); }
.TUSKENRAIDER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tuskenraider.png"); }
.TUSKENSHAMAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tuskenshaman.png"); }
.TUSKENHUNTRESS-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tuskenhuntress.png"); }
.URORRURRR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_urorrurrr.png"); }
.UGNAUGHT-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ugnaught.png"); }
.UMBARANSTARFIGHTER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_umbaran_star_fighter.png"); }
.YOUNGCHEWBACCA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_chewbacca_vandor.png"); }
.SMUGGLERCHEWBACCA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tfa_chewbacca.png"); }
.SMUGGLERHAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_tfa_han.png"); }
.VISASMARR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_visas.png"); }
.VULTUREDROID-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_vulturedroid.png"); }
.WAMPA-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_wampa.png"); }
.WATTAMBOR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_wattambor.png"); }
.WEDGEANTILLES-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_rebelpilot_wedge.png"); }
.XWINGRED2-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_xwing_red2.png"); }
.WICKET-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_ewok_wicket.png"); }
.BADBATCHWRECKER-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_bb_wrecker.png"); }
.XANADUBLOOD-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_xanadublood.png"); }
.YOUNGHAN-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_han_young.png"); }
.YOUNGLANDO-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_younglando.png"); }
.ZAALBAR-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_zaalbar.png"); }
.ZAMWESELL-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_zamwesell.png"); }
.ZORIIBLISS_V2-i { content:url("https://game-assets.swgoh.gg/textures/tex.charui_zoriibliss.png"); }
